/* .App {
  text-align: center;
}

.public-DraftStyleDefault-block,
.public-DraftStyleDefault-ltr {
  font-family: "SF Pro Rounded" !important;
  font-size: 14px !important;
  letter-spacing: 10px !important;
} */
